.styleSearchBar {
	position: relative;
	left: 25%;
	right : 25%;
	width : 50%;

}

.sidenav {
  top: 10%;
  height: 80%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin: 0 auto 130px auto;
    width: 90%
  }

main ul.pagination {
  text-align: center;
}

footer {
	position: fixed;
  bottom: 0;
  width: 100%;
}

footer span {
  color: white;
  font-size: x-small;
}

.btn-flat {
	text-align: center;
}

#shop-maps {
  height: 340px;
}

div.gm-style-iw div.content h1 {
  font-size: xx-large;
  margin-bottom: 5px;
}

#login-form {
  margin-top: 50px;
}

.footerBody{
  padding-left: 15%;
  padding-right: 15%;
}