.product {
    width:100%;
    display: flex;
    margin:10px;
    flex-wrap: wrap;
}

.product_img {
    width: 45%;
    min-width:300px;
}

.product_info {
    /width: 45%;
    padding:15px;
}

.product_description {
    margin:10px;
}

.product_img img {
    width: 100%;
}